*{outline: none;} /*4B7399*/
body {font-family: Helvetica, Verdana, Arial; background: #42C142;}
#content {width: 960px; margin: 0 auto; background: #FFF; margin-top: 50px; padding: 30px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; position: relative;  -moz-box-shadow: 4px 3px 5px rgba(0,0,0,0.5); -webkit-box-shadow:4px 3px 5px rgba(0,0,0,0.5);}

#header {padding: 30px 0px;}
#logo {background: url(/images/logo.png) no-repeat top left; width: 478px; height: 194px; margin: 0 auto;}
#logo a{display: block; width: 478px; height: 194px; text-indent: -9999em;}

h1,h2 {margin: 0;}
h1, h2{font-size: 5em; padding:0px 0px 15px; font-family: "Trebuchet MS", Helvetica; text-shadow: 3px 5px rgba(200,200,200,0.8)}
h2 {font-size: 2em;}
h3 {font-size: 1.5em; padding: 5px;}
h4 {font-size: 1.4em; margin: 0; padding: 2px 0 5px;}

.movements {padding: 15px 0px 30px;}
.small {font-size: 12px;}

table, th, td {text-align: center;}
th {line-height: 1.5em;}

#content strong{font-weight: bold;}
.report {padding: 10px 0 10px;}
.github {position: absolute; bottom: 15px; right: 25px;}

.green, .red {font-weight: bold;}
.green {color: green;}
.softred, .red {color: red;}

#general-information {font-size: 14px; color: #333; width: 500px; margin: 50px auto 30px; text-align: center;}
#general-information a, #general-information .email {font-size: 15px; color: #222; text-decoration: none; font-weight: normal; text-shadow: 1px 1px rgba(255,255,255,0.5);}